In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_excel('melbourne_pp1.xls')

In [ ]:
dataset

In [5]:
dataset.shape

(34857, 18)

In [6]:
dataset.info

<bound method DataFrame.info of            Suburb             Address  Rooms Type      Price        Date  \
0      Abbotsford       68 Studley St      2    h        NaN   3/09/2016
1      Abbotsford        85 Turner St      2    h  1480000.0   3/12/2016
2      Abbotsford     25 Bloomburg St      2    h  1035000.0   4/02/2016
3      Abbotsford  18/659 Victoria St      3    u        NaN   4/02/2016
4      Abbotsford        5 Charles St      3    h  1465000.0   4/03/2017
...           ...                 ...    ...  ...        ...         ...
34852  Yarraville         13 Burns St      4    h  1480000.0  24/02/2018
34853  Yarraville       29A Murray St      2    h   888000.0  24/02/2018
34854  Yarraville      147A Severn St      2    t   705000.0  24/02/2018
34855  Yarraville    12/37 Stephen St      3    h  1140000.0  24/02/2018
34856  Yarraville    3 Tarrengower St      2    h  1020000.0  24/02/2018

       Distance  Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt  \
0           2.5       2.0       1.0  1.0     126.0           NaN        NaN
1           2.5       2.0       1.0  1.0     202.0           NaN        NaN
2           2.5       2.0       1.0  0.0     156.0          79.0     1900.0
3           2.5       3.0       2.0  1.0       0.0           NaN        NaN
4           2.5       3.0       2.0  0.0     134.0         150.0     1900.0
...         ...       ...       ...  ...       ...           ...        ...
34852       6.3       4.0       1.0  3.0     593.0           NaN        NaN
34853       6.3       2.0       2.0  1.0      98.0         104.0     2018.0
34854       6.3       2.0       1.0  2.0     220.0         120.0     2000.0
34855       6.3       NaN       NaN  NaN       NaN           NaN        NaN
34856       6.3       2.0       1.0  0.0     250.0         103.0     1930.0

                    CouncilArea  Lattitude  Longtitude             Regionname  \
0            Yarra City Council  -37.80140   144.99580  Northern Metropolitan
1            Yarra City Council  -37.79960   144.99840  Northern Metropolitan
2            Yarra City Council  -37.80790   144.99340  Northern Metropolitan
3            Yarra City Council  -37.81140   145.01160  Northern Metropolitan
4            Yarra City Council  -37.80930   144.99440  Northern Metropolitan
...                         ...        ...         ...                    ...
34852  Maribyrnong City Council  -37.81053   144.88467   Western Metropolitan
34853  Maribyrnong City Council  -37.81551   144.88826   Western Metropolitan
34854  Maribyrnong City Council  -37.82286   144.87856   Western Metropolitan
34855  Maribyrnong City Council        NaN         NaN   Western Metropolitan
34856  Maribyrnong City Council  -37.81810   144.89351   Western Metropolitan

       Propertycount
0             4019.0
1             4019.0
2             4019.0
3             4019.0
4             4019.0
...              ...
34852         6543.0
34853         6543.0
34854         6543.0
34855         6543.0
34856         6543.0

[34857 rows x 18 columns]>

In [7]:
dataset.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Date              object
Distance         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [8]:
dataset.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Date                 0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
dataset.isnull().sum()/len(dataset)*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.832057
Date              0.000000
Distance          0.002869
Bedroom2         23.573457
Bathroom         23.599277
Car              25.039447
Landsize         33.881286
BuildingArea     60.576068
YearBuilt        55.386293
CouncilArea       0.008607
Lattitude        22.882061
Longtitude       22.882061
Regionname        0.008607
Propertycount     0.008607
dtype: float64

In [14]:
imputer = SimpleImputer(strategy='most_frequent')

In [15]:
imputed_data = pd.DataFrame(imputer.fit_transform(dataset))

In [16]:
imputed_data.columns = dataset.columns

In [17]:
imputed_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Date             0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [18]:
imputed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  object
 3   Type           34857 non-null  object
 4   Price          34857 non-null  object
 5   Date           34857 non-null  object
 6   Distance       34857 non-null  object
 7   Bedroom2       34857 non-null  object
 8   Bathroom       34857 non-null  object
 9   Car            34857 non-null  object
 10  Landsize       34857 non-null  object
 11  BuildingArea   34857 non-null  object
 12  YearBuilt      34857 non-null  object
 13  CouncilArea    34857 non-null  object
 14  Lattitude      34857 non-null  object
 15  Longtitude     34857 non-null  object
 16  Regionname     34857 non-null  object
 17  Propertycount  34857 non-null  object
dtypes: object(18)
memory usage: 4.8+ MB

In [19]:
pd.set_option('max_columns', None)

In [20]:
imputed_data.head()

,Suburb,Address,Rooms,Type,Price,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,600000.0,3/09/2016,2.5,2.0,1.0,1.0,126.0,120.0,1970.0,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,3/12/2016,2.5,2.0,1.0,1.0,202.0,120.0,1970.0,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,600000.0,4/02/2016,2.5,3.0,2.0,1.0,0.0,120.0,1970.0,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [23]:
imputed_data.to_csv(r'data-processed-1.csv', index = False)

In [24]:
imputed_data.dtypes

Suburb           object
Address          object
Rooms            object
Type             object
Price            object
Date             object
Distance         object
Bedroom2         object
Bathroom         object
Car              object
Landsize         object
BuildingArea     object
YearBuilt        object
CouncilArea      object
Lattitude        object
Longtitude       object
Regionname       object
Propertycount    object
dtype: object

In [ ]:
# Converting the dtypes of columns into right dtypes
#Converting into Categorical dtypes
#cat_col = ['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'CouncilArea','Regionname']
#for colname in cat_col:
#    imputed_Data[colname] = imputed_Data[colname].astype('object') 

#Converting into Numerical dtypes
#int_col = ['Rooms', 'Price', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
#           'YearBuilt', 'Propertycount']
#flt_col = ['Distance', 'Lattitude', 'Longtitude']
#for colname in int_col:
#    imputed_Data[colname] = imputed_Data[colname].astype('int64')
#for colname in flt_col:
#    imputed_Data[colname] = imputed_Data[colname].astype('float64')   

# Converting to date object
#imputed_Data['Date'] = pd.to_datetime(imputed_Data['Date'])