In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [32]:
dataset = pd.read_csv('full_dataset_replaced_lat_long.csv')

In [33]:
dataset.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
34852,Williamstown,11/81 Melbourne Rd,2,u,450000.0,SP,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,NaN,Hobsons Bay City Council,-37.859910,144.894677,Western Metropolitan,6380.0
34853,Williamstown,24/18 Station Rd,2,u,475000.0,SP,Greg,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,NaN,Hobsons Bay City Council,-37.856889,144.890787,Western Metropolitan,6380.0
34854,Williamstown,3/2 Thompson St,2,u,520000.0,VB,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,NaN,Hobsons Bay City Council,-37.863939,144.904848,Western Metropolitan,6380.0
34855,Windsor,4/16 Lewisham Rd,1,u,440000.0,SP,Biggin,24/02/2018,4.6,3181.0,NaN,NaN,NaN,NaN,NaN,Port Phillip City Council,-37.856823,144.999133,Southern Metropolitan,4380.0
34856,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,-37.812415,144.896190,Western Metropolitan,6543.0

In [36]:
#### 4 is the price
X = dataset.iloc[:,[2,3,8,10,11,12,13,14,16,17]]
y = dataset.iloc[:,4]

In [37]:
X.head()

,Rooms,Type,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
0,2,h,2.5,1.0,1.0,126.0,NaN,NaN,-37.8014,144.9958
1,2,h,2.5,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984
2,2,h,2.5,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934
3,3,u,2.5,2.0,1.0,0.0,NaN,NaN,-37.8114,145.0116
4,3,h,2.5,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944

In [26]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[3])], remainder='passthrough')
dataset = ct.fit_transform(dataset)

In [27]:
df = pd.DataFrame(dataset)

In [29]:
#save it to a csv file
columns = ["TypeH", "TypeT", "TypeU", "Suburb","Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car","Landsize","BuildingArea","YearBuilt","CouncilArea","Lattitude","Longtitude","Regionname","Propertycount"]
dataset.iloc[:,[1,2,5,7,10,11,12,13,14,16,17,19,20]]
df.to_csv('full_dataset_OHE.csv'
                          ,index=False,header=True)

In [11]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[10])], remainder='passthrough')

IndexError: list index out of range

In [12]:
X = np.array(ct.fit_transform(X))

TypeError: unhashable type: 'list'